a {
    color: var(--TY-primary-main)
}

a:focus {
    color: var(--TY-primary-light)
}

a:visited {
    color: var(--TY-primary-dark)
}

.body {
    overflow: hidden;
}

.TY-anchor {
    position: absolute;
    top: 0;
    left: 0;

    width: min-content;
    height: min-content;
}

.MuiPaper-elevation0,
.MuiPaper-elevation1,
.MuiPaper-elevation2,
.MuiPaper-elevation3,
.MuiPaper-elevation4,
.MuiPaper-elevation5,
.MuiPaper-elevation6,
.MuiPaper-elevation7,
.MuiPaper-elevation8,
.MuiPaper-elevation9,
.MuiPaper-elevation10,
.MuiPaper-elevation11,
.MuiPaper-elevation12,
.MuiPaper-elevation13,
.MuiPaper-elevation14,
.MuiPaper-elevation15,
.MuiPaper-elevation16,
.MuiPaper-elevation17,
.MuiPaper-elevation18,
.MuiPaper-elevation19,
.MuiPaper-elevation20,
.MuiPaper-elevation21,
.MuiPaper-elevation22,
.MuiPaper-elevation23,
.MuiPaper-elevation24 {
    position: relative;
}

.MuiPaper-elevation0 { z-index: 10; }
.MuiPaper-elevation1 { z-index: 20; }
.MuiPaper-elevation2 { z-index: 30; }
.MuiPaper-elevation3 { z-index: 40; }
.MuiPaper-elevation4 { z-index: 50; }
.MuiPaper-elevation5 { z-index: 60; }
.MuiPaper-elevation6 { z-index: 70; }
.MuiPaper-elevation7 { z-index: 80; }
.MuiPaper-elevation8 { z-index: 90; }
.MuiPaper-elevation9 { z-index: 100; }
.MuiPaper-elevation10 { z-index: 110; }
.MuiPaper-elevation11 { z-index: 120; }
.MuiPaper-elevation12 { z-index: 130; }
.MuiPaper-elevation13 { z-index: 140; }
.MuiPaper-elevation14 { z-index: 150; }
.MuiPaper-elevation15 { z-index: 160; }
.MuiPaper-elevation16 { z-index: 170; }
.MuiPaper-elevation17 { z-index: 180; }
.MuiPaper-elevation18 { z-index: 190; }
.MuiPaper-elevation19 { z-index: 200; }
.MuiPaper-elevation20 { z-index: 210; }
.MuiPaper-elevation21 { z-index: 220; }
.MuiPaper-elevation22 { z-index: 230; }
.MuiPaper-elevation23 { z-index: 240; }
.MuiPaper-elevation24 { z-index: 250; }

.scroll-left {
    direction: rtl;
}

.scroll-left > * {
    direction: ltr;
}