.TY-patrol .TY-patrol-body .TY-patrol-recentchanges-container {
    height: 100%;
    max-width: 25%;
    width: 100%;
    flex: initial;

    transition: max-width var(--TY-transition-duration-standard) var(--TY-transition-easing-easeInOut);
}

.TY-patrol .TY-patrol-body .TY-patrol-recentchanges-container.inactive {
    max-width: 0;
}

.TY-patrol .TY-patrol-body .TY-patrol-recentchanges {
    position: unset;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.15);
    border: 0;
}

.TY-patrol-recentchanges::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.TY-patrol .TY-patrol-body .TY-patrol-recentchanges .TY-patrol-recentchanges-entry {
    cursor: pointer;

    padding: 8px;
    background-color: var(--TY-background-default);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.TY-patrol .TY-patrol-recentchanges-metainfo span {
    margin: 0 4px;
    font-size: 0.9em;
}

.TY-patrol .TY-patrol-recentchanges-metainfo span:first-child {
    margin-left: 0;
}

.TY-patrol .TY-patrol-bytes {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--TY-grey-600);
}

.TY-patrol .TY-patrol-bytes-positive {
    color: #006400;
}

.TY-patrol .TY-patrol-bytes-negative {
    color: #8b0000;
}

.TY-patrol .TY-patrol-bytes-large {
    font-weight: bold;
}

.TY-patrol .TY-patrol-recentchanges-pagename {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.TY-patrol .TY-patrol-recentchanges-pagename > div::before {
    content: "";
    background: linear-gradient(to right, transparent, var(--TY-background-default));
    width: 32px;
    position: absolute;
    display: block;
    right: 0;
    height: 100%;
}

.TY-patrol .TY-patrol-recentchanges-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--TY-grey-400);
    z-index: 10;
    pointer-events: none;
    opacity: 0;

    transition: opacity var(--TY-transition-duration-standard) var(--TY-transition-easing-easeInOut);
}

.TY-patrol .TY-patrol-recentchanges-entry:not([data-ty-rev-active]),
.TY-patrol .TY-patrol-recentchanges-entry[data-ty-rev-active="false"] {
    border-right: 1px solid rgba(0, 0, 0, 0.2); /* not using --TY-divider, since it's too light */
}

.TY-patrol .TY-patrol-recentchanges-entry[data-ty-rev-active="false"] .TY-patrol-recentchanges-overlay {
    opacity: 0.5;
}

.TY-patrol .TY-patrol-recentchanges-entry[data-ty-rev-active="true"] {
    z-index: 91;
}

.TY-patrol .TY-patrol-recentchanges-end {
    text-align: center;
    padding: 16px 0;
    background-color: transparent;
}

.TY-patrol .TY-patrol-recentchanges-end > * {
    display: inline-block;
}