.MuiTooltip-tooltip {
    font-size: medium;
}

.TY-patrol {
    height: 100vh;
    background-color: var(--TY-background-default);
}

.TY-patrol .TY-popup-editorinfo-editcount {
    text-transform: uppercase;
}

.TY-patrol .TY-patrol-header {
    position: relative;
    height: 64px;
    z-index: 400;
}

/* Top logo */
.TY-patrol .TY-patrol-header img.TY-logo-dark {
    height: 40px;
    width: auto;
    margin: 8px;
    padding-top: 6px;
}

.TY-patrol .TY-patrol-header img.TY-logo-increasedSize {
    height: 60px;
    width: auto;
    margin: 8px;
    padding-top: 6px;
}

.TY-patrol .TY-patrol-header .TY-patrol-header-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.TY-patrol .TY-patrol-header .TY-patrol-header-toolbar > * {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 8px;
}

.TY-patrol .TY-patrol-header .TY-patrol-header-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.TY-patrol .TY-patrol-header .TY-patrol-pageinfo {
    text-align: right;
    margin-right: 8px;
}

.TY-patrol-pageinfo > * {
    line-height: 1.1;
}

.TY-patrol .TY-patrol-body {
    width: 100%;
    height: calc(100% - 64px /* Toolbar height. */);
    display: flex;
}

.TY-patrol .TY-patrol-body > * {
    overflow: auto;
}