.TY-WorkspaceSelector .TY-logo {
    width: 50%;
    height: auto;
}

.TY-WorkspaceSelector .TY-WorkspaceSelector-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TY-WorkspaceSelector .TY-WorkspaceSelector-header img.TY-logo-dark {
    height: 40px;
    width: auto;
    margin: 8px;
    padding-top: 6px;
}

.TY-WorkspaceSelector .TY-WorkspaceSelector-header img.TY-logo-increasedSize {
    height: 60px;
    width: auto;
    margin: 8px;
    padding-top: 6px;
}

.TY-WorkspaceSelector .TY-WorkspaceSelector-header .TY-WorkspaceSelector-header-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.TY-WorkspaceSelector .TY-WorkspaceSelector-header .TY-WorkspaceSelector-header-toolbar > * {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 8px;
}

.TY-WorkspaceSelector .TY-WorkspaceSelector-header .TY-WorkspaceSelector-header-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}